<h1>The Queue</h1>
<div>
    <% if logged_in? %>
      <%= form_for @timer do |f| %>
        <%= f.label :duration, "Time in mins" %>
        <%= f.number_field :duration, in: 1..10 %>

    <%= f.submit "Queue it!" %>
      <% end %>
    <% end %>
</div>
<div>
    <% if @timers.length > 0 %>
    <ul>
        <% @timers.map do |timer| %>
            <li><%= timer.user.username %> for <%= timer.duration %> mins! <%= button_to "I'm done", timer , method: :delete %></li>
        <% end %>
    </ul>
    <% else %>
      No one is waiting! Woohoo!
    <% end %>
</div>