<!DOCTYPE html>
<html>
  <head>
    <title>MicrowaveQueueApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div><button>button1</button></div>
      <div><button>button2</button></div>
    </nav>
    <%= yield %>
  </body>
</html>
