<!DOCTYPE html>
<html>
  <head>
    <title>MicrowaveQueueApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
    <% if logged_in? %>
      <div><%= link_to('Logout', logout_path, method: :delete) %></div>
      <div><%= link_to(current_user.username, current_user) %></div>
      <div><%= link_to("Edit", edit_user_path(current_user)) %></div>
      <% else %>
      <div></div><%= link_to('Login', login_path) %></div>
      <% end %>
      <div><%= request.env["REQUEST_URI"] == '/timers' ? '' : link_to('Queue', timers_path) %></div>
    </nav>
    <%= yield %>
  </body>
</html>
